[Unit]
Description=EduX Deployment Server
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/deployment-server
ExecStart=python3 /usr/local/bin/backend/deployment-server/deployment_server.py 10000
Restart=always

[Install]
Alias=deployment-server.service