[Unit]
Description=EduX Deployment Server
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/deployment-server
ExecStart=/usr/bin/python3 /usr/local/bin/deployment-server/deployment_server.py --port 10000
Restart=always

[Install]
Alias=deployment-server.service
