[Unit]
Description=EduX Matching Engine
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/me
ExecStart=/usr/local/bin/me/matching_engine
Restart=always
Environment="SERVER_NAME=<server name placeholder>"

[Install]
Alias=me.service