[Unit]
Description=EduX Order Manager
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/oms
ExecStart=/usr/local/bin/oms/order_manager
Restart=always

[Install]
Alias=oms.service