Checks:
  [
    "-*",
    "clang-analyzer-*",
    "concurrency-*",
    "cppcoreguidelines-*h",
    "modernize-*",
    "performance-*",
    "readability-*",
    "-modernize-use-trailing-return-type",
    "-readability-braces-around-statements",
    "-readability-magic-numbers",
    "-readability-named-parameter"
  ]

