CompileFlags:
  Add: [
      # DEBUG build
      -xc++,
      -std=c++23,
      -ggdb,
      -O0,
      -Wall -Weffc++ -Wextra -Wconversion -Wsign-conversion,
      -pedantic-errors,
      -Werror, # Treat warnings as errors
      -I/home/ombhandari/Projects/elsa/elsa-fyp/client_sdk/include,
    ]
